body {
  background-color: whitesmoke;
}

.body-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

#dataMap {
  height: 300px;
  width: 100%;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  position: relative;
  z-index: 0;
}

.table-row:hover {
  cursor: pointer;
}

.table-header:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

modal-container {
  z-index: 1;
  position: absolute;
}
