@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 16px;
  background-color: #e2e8f0;
}

select {
  -webkit-appearance: initial;
  -moz-appearance: initial;
  appearance: initial;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
